<div id="<%= dom_id group %>" class="categories">
  <div class="category">
    <img src="<%= group.icon %>" class="icon" />

    <div class="name-created">
      <div class="name">
        <%= group.name %>
      </div>
      <div class="created">
        <%= group.created_at %>
      </div>
    </div>

    <div class="total">
      $ <%= @total_amounts[group.id] || 0 %>
    </div>
  </div>
</div>
