<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    Total Amount: <%= @total_amounts[group.id] || 0 %>
    <p>
      <%= link_to "See transactions", group %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_group_path %>
