<div id="<%= dom_id deal %>">
  <p>
    <strong>Author:</strong>
    <%= deal.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= deal.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deal.amount %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= deal.created_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deal.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= deal.group_id %>
  </p>

</div>
